@import "tailwindcss";

@theme {
  --grid-template-rows-board: repeat(var(--board-size), minmax(0, 1fr));

  --grid-template-columns-board: repeat(var(--board-size), minmax(0, 1fr));

  --font-century: "Century Gothic", Futura, sans-serif;

  --color-grau: #999;
}

@layer base {
  :root {
    --board-size: 40;
  }

  body {
    @apply font-century text-sm antialiased;
  }
}
